/* Place your CSS for the exam in this file. You can also change the filename
 extension to .scss if you want to use Sass. If sass doesn't appear to be
 working, try running npm start again. */
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

.main {
  width: 700px;
  border: 1px solid black;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 25px;
  padding: 20px;
  font-family: serif;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.header img {
  margin-right: 10px;
  opacity: .5;
  width: 15px;
  float: left;
  padding-top: 4px;
}

.title {
  width: 500px;
  float: left;
  font-weight: bold;
}

.edit-button {
  padding-top: 5px;
  font-size: 10px;
  text-align: right;
}

.profile {
  display: block;
  font-family: sans-serif;

}

.profile-image {
  display: block;
  width: 75px;
  float: left;
  padding: 0 20px 20px 20px;
}

.name-descript {
  float: left;
}

.name{
  padding-bottom: 5px;
}

.description {
  padding-top: 5px;
  width: 565px;
  border-top: 1px solid #ccc;
}

#modal {
  display: none;
  position: fixed;
  width: 500px;
  height: 700px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4)
}

.modal-content {
    background-color: #fff;
    margin: 0 auto;
    border: 2px solid #ccc;
    width: 500px;
}

.modal-header {
  width: calc(100% - 20px);
  height: 30px;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #eee;
  padding: 10px;
}

.modal-header button {
  margin-left: 220px;
}

.modal-edit {
  width: 460px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.modal-edit-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-name {
  width: 80px;
  float: left;
  text-align: right;
  margin-right: 10px;
  font-size: 15px;
}

.modal-bio{
  width: 80px;
  float: left;
  text-align: right;
  margin-right: 10px;
  font-size: 15px;

}

.modal-bio-container {
  margin-top: 10px;
}

.modal-bio-container textarea {
  width: 300px;
}

.modal-add-manager {
  border: 1px solid #ccc;
  margin-right: 10px 10px 10px 0;
}

.modal-update {
  margin-right: 10px 10px 10px 0;
  background-color: #ccc;
  border-radius: 5px;
}

.modal-cancel {
  border-radius: 5px;
  margin-right: 10px 10px 10px 0;
  background-color: green;
}
